#game-over {
  width: 60vw;
}
.user-container {
  gap: 100px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.user-container div {
  width: 150px;
  text-align: center;
  font-size: 1rem;
}
.play-again {
  position: absolute;
  bottom: 30px;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border: none;
  font-family: inherit;
  width: 80%;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  #game-over {
    width: 80vw;
    height: 60vh;
  }
  .user-container {
    gap: 10vw;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  #user-name {
    width: 60px;
  }
  .user-container div {
    width: 10px;
  }
}
