.pop-up {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 25%;
  align-self: center;
  background-color: rgb(63, 63, 63);
  width: 50vw;
  margin: 0;
  height: 45vh;
  padding-top: 10px;
  padding-bottom: 60px;
  z-index: 3;
  min-width: 300px;
}
.image-containers {
  align-self: center;
  justify-self: center;
  gap: 8vw;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 30vh;
  margin-top: 10px;
}
.image-container {
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-container img {
  height: 50%;
  margin: 0;
}

#start-btn {
  align-self: center;
  justify-self: flex-end;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border: none;
  font-family: inherit;
  width: 80%;
  cursor: pointer;
}

@media only screen and (max-width: 930px) {
  .pop-up .title-instructions {
    font-size: 1rem;
    text-align: center;
  }
}
