.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  min-width: 1920px;
  min-height: 2715px;
  background-color: rgb(34, 34, 34);
}

img {
  margin-top: 100px;
  flex: 1;

  object-fit: contain;
}

#target {
  position: absolute;
  border: 3px solid red;
  padding: 30px;
  border-radius: 50%;
}

#target-list {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 5px;
  padding-left: 10px;
  list-style: none;
  position: absolute;
  background-color: rgb(212, 212, 212, 0.7);
}

.found-marker {
  position: absolute;
  border-radius: 50%;
  font-size: 5rem;
  color: red;
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(63, 63, 63);
  color: white;
  height: 100px;
  z-index: 3;
  font-size: 1.5rem;
}

.title {
  margin: 60px;
}

#timer {
  margin: 60px;
}

@media only screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    font-size: 1rem;
    margin: 0;
  }

  .title {
    margin: 10px;
  }

  #timer {
    margin: 10px;
  }
}
